#layout-container {
    display: flex;
    flex-flow: flex wrap;
}

aside #left-side {
    order: 1;
    width: 200px;
}
main {
    order: 2;
}
aside #right-side {
    order: 3;
    width: 200px;
}


svg { width: 100px; }